---
import Layout from "../layouts/Layout.astro";
import SectionHeader from "../components/SectionHeader.astro";
const { frontmatter } = Astro.props;
---

<Layout title="Blog">
  <main>
    <div class="container">
      <SectionHeader title={frontmatter.title} href={"../blog"} />
      <body>
        <div class="instructions">
          <slot />
        </div>
      </body>
    </div>
  </main>
</Layout>

<style>
  main {
    margin: auto;
    max-width: 90vw;
  }
  .container {
    flex: 1;
  }
  .instructions {
    line-height: 1.6;
    margin: 1rem 0;
    border: 1px solid rgba(var(--accent), 25%);
    background-color: white;
    padding: 0rem 1rem;
    border-radius: 0.4rem;
  }
</style>
