---
import Layout from "../layouts/Layout.astro";
const { frontmatter } = Astro.props;
---

<Layout title="Blog">
  <main class="flex justify-center content-center">
    <div class="flex-1">
      <header class="m-4 flex items-center">
        <div class="flex-0 text-5xl text-slate-500">
          <a href="../blog">←</a>
        </div>
        <h1><span class="text-gradient">{frontmatter.title}</span></h1>
      </header>
      <div class="instructions">
        <slot />
      </div>
    </div>
  </main>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1.5rem;
    height: 100vh;
    max-width: 100ch;
  }
  h1 {
    font-size: 3rem;
    font-weight: 800;
    margin: 0;
  }
  .text-gradient {
    background-image: var(--accent-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%;
    background-position: 0%;
  }
  .instructions {
    line-height: 1.6;
    margin: 1rem 0;
    border: 1px solid rgba(var(--accent), 25%);
    background-color: white;
    padding: 1rem;
    border-radius: 0.4rem;
  }
  .link-card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
    gap: 1rem;
    padding: 0;
  }
</style>
