---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import SectionHeader from "../components/SectionHeader.astro";
const posts = await Astro.glob("./posts/*.md");
---

<Layout title="Blog Posts">
  <main>
    <SectionHeader title="Blog" />
    {
      posts.map((post) => (
        <ul role="list" class="link-card-grid">
          <div class="p-4">
            <Card
              href={post.url ? post.url : "./blog"}
              title={post.frontmatter.title}
              body={post.frontmatter.subTitle}
            />
          </div>
        </ul>
      ))
    }
  </main>
</Layout>

<style>
  .p-4 {
    padding: 0.25rem;
  }

  ul {
    padding: 0rem 2rem;
  }
  .text-gradient {
    background-image: var(--accent-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%;
    background-position: 0%;
  }
</style>
