---
import Layout from "../layouts/Layout.astro";
import TopMenu from "../components/TopMenu.astro";
import BlogPosts from "../components/BlogPosts.astro";
---

<Layout title="Jadrian's Portfolio">
  <main>
    <div
      class="md:grid md:grid-cols-4 gap-0 place-items-center justify-end w-8/12 m-auto"
    >
      <div id="left-box" class="flex justify-end w-full max-h-[500px]">
        <TopMenu active={2} />
      </div>
      <div id="center-box" class="h-full hidden md:block w-full px-2">
        <canvas id="canvas" class="h-full w-full"></canvas>
      </div>
      <div id="right-box" class="flex justify-start w-full h-full">
        <BlogPosts />
      </div>
    </div>

    <script>
      import UseDrawLines from "../util/UseDrawLines";
      UseDrawLines();
    </script>
    <style>
      main {
        margin: auto;
        padding: 1.5rem;
        height: 95vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }
      h1 {
        font-size: 3rem;
        font-weight: 800;
        margin: 0;
      }
      .link-card-grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
        gap: 1rem;
        padding: 0px;
        margin-top: 1rem;
        margin-bottom: 1rem;
      }
    </style>
  </main></Layout
>
