---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
---

<Layout title="Jadrian's Portfolio">
  <main>
    <!-- <div class="flex-container-1"></div> -->
    <div class="flex-container-4 m-1rem flex-center">
      <h1>Hi I'm <span class="text-gradient">Jadrian</span></h1>
      <div class="instructions-container">
        <p class="instructions">
          I'm a <code>fullstack dev</code> who loves working with teams to deliver
          great software
        </p>
      </div>
      <ul role="list" class="link-card-grid">
        <Card
          href="./about"
          title="About Me"
          body="Learn about me and my quest to be the best"
        />
        <Card
          href="./projects"
          title="Projects"
          body="Learn about the what I've been up to."
        />
        <Card
          href="./blog"
          title="Blog"
          body="Here I write some thoughts about my experience as a dev"
        />
        <Card
          href="./contact"
          title="Contact"
          body="Say hi on LinkedIn! Email works as well too, but thats less fun"
        />
      </ul>
    </div>
    <!-- <div class="flex-container-1"></div> -->
  </main>
</Layout>

<style>
  .flex-center {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .m-1rem {
    margin: 1rem;
  }
  body,
  html {
    margin: 0px;
    padding: 0px;
  }
  .flex-container-1 {
    flex: 1 1 0;
  }
  .flex-container-4 {
    flex: 4 4 0;
  }
  main {
    margin: auto;
    padding: 1.5rem;
    max-width: 60ch;
    height: 95vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  /* main {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  } */
  h1 {
    font-size: 3rem;
    font-weight: 800;
    margin: 0;
  }
  .text-gradient {
    background-image: var(--accent-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%;
    background-position: 0%;
  }
  .instructions {
    line-height: 1.6;
    margin: 1rem 0;
    border: 1px solid rgba(var(--accent), 25%);
    background-color: white;
    padding: 1rem;
    border-radius: 0.4rem;
  }
  .instructions code {
    font-size: 0.875em;
    font-weight: bold;
    background: rgba(var(--accent), 12%);
    color: rgb(var(--accent));
    border-radius: 4px;
    padding: 0.3em 0.45em;
  }
  .instructions strong {
    color: rgb(var(--accent));
  }
  .link-card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
    gap: 1rem;
    padding: 0px;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  .instructions-container {
    background-position: 0;
    height: max-content;
    /* list-style: none; */
    display: flex;
    padding: 0.15rem;
    background-color: white;
    background-image: var(--accent-gradient);
    background-size: 400%;
    border-radius: 0.5rem;
    /* background-position: 100%; */
    transition: background-position 0.6s cubic-bezier(0.22, 1, 0.36, 1);
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
      0 2px 4px -2px rgba(0, 0, 0, 0.1);
  }

  .instructions {
    width: 100%;
    text-decoration: none;
    line-height: 1.4;
    padding: 1rem 1.3rem;
    border-radius: 0.35rem;
    color: #111;
    background-color: white;
    opacity: 0.8;
    margin: 0px;
  }
</style>
