---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import SectionHeader from "../components/SectionHeader.astro";
---

<Layout title="Projects">
  <main>
    <SectionHeader title="Projects" />
    <ul role="list" class="link-card-grid">
      <div class="p-4">
        <Card
          href="https://github.com/jadrian-abramovitch/FindMeATeam"
          title="Find Me A Team!"
          body="Find Me A Team allows users to connect with other players from their favorite games. This site is able to facilitate these human connections without having all features 100% complete. Currently the only game supported is League of Legends, but will be expanded to other games such as CS:GO, Overwatch, Dota etc."
        />
      </div>
      <div class="p-4">
        <Card
          href="https://github.com/jadrian-abramovitch/NHL-Scraper"
          title="NHL roster building investigation"
          body="A web scraper for NHL.com to analyze the relationship between talent distribution and team success."
        />
      </div>
      <div class="p-4">
        <Card
          href="https://github.com/jadrian-abramovitch/Connect4"
          title="Connect 4 with AI"
          body="A fully functional Connect 4 game versus an AI which uses the minimax algorithm. This game is built using python, leveraging the Pygame module for the visuals. The backend logic uses a 2d - numpy array to represent the board state."
        />
      </div>
    </ul>
  </main>
</Layout>

<style>
  ul {
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .m-2 {
    margin: 1rem;
  }
  .p-4 {
    padding: 0.25rem;
  }
  .arrow-draw {
    border-top: 12px solid transparent;
    border-right: 30px solid;
    border-bottom: 12px solid transparent;
    color: rgb(3, 84, 81);
  }
  .arrow-container {
    display: flex;
    flex-direction: column;
    text-align: center;

    /* justify-content: center; */
  }
  .arrow {
    border: 2px solid black;
    font-size: 4rem;
    margin: 0px;
    /* margin: 3rem 0rem; */
  }
  .text-5xl {
    font-size: 3rem;
    line-height: 1;
  }
  .flex-0 {
    flex: 0;
  }
  header {
    margin: 1rem;
    margin-left: 0rem;
    display: flex;
    align-items: center;
  }
  .text-gradient {
    background-image: var(--accent-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%;
    background-position: 0%;
  }
</style>
