---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="Projects">
	<main>
        <header class="m-4 flex items-center">
            <div class="flex-0 text-5xl text-slate-500"><a href="./">←</a></div>
            <h1 class="flex-0"><span class="text-gradient text-5xl m-2 font-extrabold">Projects</span></h1>
        </header>
		<ul role="list" class="link-card-grid">
			<Card
				href="https://docs.astro.build/"
				title="Documentation"
				body="Learn how Astro works and explore the official API docs."
			/>
		</ul>
	</main>
</Layout>

<style>
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
</style>
